.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.modal-img {
    width: 100%;
}
.modal-backdrop.blur-backdrop {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px); /* Safari için */
}